{% extends '_base.html' %}
{% load i18n %}
{% load materializecss %}

{% block title %}{% trans "Update user profile" %}{% endblock title %}

{% block content %}
<div class="row">
  <div class="col l4 m6 s12 offset-l4 offset-m3">
    <h1>{% trans "Update user profile" %}</h1>
    <form method="POST">
      {% csrf_token %}
      {{ form|materializecss }}
      <button class="btn waves-effect waves-light btn-margin" type="submit">{% trans "Save" %}</button>
    </form>
  </div>
</div>
{% endblock content %}
