{% extends '_base.html' %}
{% load i18n %}

{% block title %}{% trans "Email confirmation" %}{% endblock %}


{% block content %}
<div class="row">
  <div class="col l4 m6 s12 offset-l4 offset-m3">
    <h1>{% trans "Email confirmation %}</h1>
    {% if confirmation %}
      {% user_display confirmation.email_address.user as user_display %}
      <p class="large-text">{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}</p>
      <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
      {% csrf_token %}
          <button type="submit">{% trans 'Confirm' %}</button>
      </form>
    {% else %}
      {% url 'account_email' as email_url %}
      <p class="large-text">{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>
    {% endif %}
  </div>
</div>
{% endblock %}
