{% extends '_base.html' %}
{% load i18n %}
{% load materializecss %}

{% block title %}{% trans "Change password" %}{% endblock title %}

{% block content %}
<div class="row">
  <div class="col l4 m6 s12 offset-l4 offset-m3">
    <h1>{% trans "Change password" %}</h1>
    {% url 'account_login' as login_url %}
      <p class="large-text">{% blocktrans %}Your password hass been changed. You can <a href="{{ login_url }}">log in here</a>.{% endblocktrans %}</p>
  </div>
</div>
{% endblock content %}
