{% load static %}
{% load i18n %}

<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% trans "Event Manager" %}{% endblock %}</title>
    <!-- CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.css' %}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/custom.css' %}"  media="screen,projection"/>
    <!-- JavaScript -->
    <script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "js/materialize.min.js" %}"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>

  {% include 'navbar.html' %}

  <main>
    <div class="container">
    {% block content %}
    {% endblock content %}
    </div>

    {% with request.path|slice:"-10:" as path %}
      {% if user.groups.all.0.name != 'Follower' %}
        {% if '/events/' in request.path and '/new/' not in request.path %}
          <div class="fixed-action-btn">
            <a href="{% url 'event_create' %}" class="btn-floating btn-large waves-effect waves-light blue"><i class="material-icons">add</i></a>
          </div>
        {% elif path == '/projects/' %}
          <div class="fixed-action-btn">
            <a href="{% url 'project_create' %}" class="btn-floating btn-large waves-effect waves-light blue"><i class="material-icons">add</i></a>
          </div>
        {% elif '/projects/' in request.path and '/new/' not in request.path %}
          <div class="fixed-action-btn">
            <a href="{% url 'event_create' %}" class="btn-floating btn-large waves-effect waves-light blue"><i class="material-icons">add</i></a>
          </div>
        {% endif %}
      {% endif %}
    {% endwith %}


  </main>

  <!-- JavaScript -->
  <script>
        $(document).ready(function(){
          // other
          $('select:not([name="location"])').formSelect();
          // $('select').formSelect();
          $('.fixed-action-btn').floatingActionButton();
          $('.char_count, textarea[id*="description"], textarea[id*="comment"]').characterCounter();
          // form dropdown
          $('.dropdown-trigger').dropdown({
            constrainWidth: true,
            hover: false,
            belowOrigin: true,
            alignment: 'left'
          });
          // navbar dropdown
          $('.dropdown-trigger-nav').dropdown({
            constrainWidth: false,
            hover: false,
            belowOrigin: true,
            alignment: 'left',
            coverTrigger: false
          });
          // side navigation (smaller screens)
          $('.sidenav').sidenav();
          $('.file-field input[type="file"]').on('change', function(){
              if($(this).val() !== '') {
                  var parent = $(this).parent();
                  parent.find('input[type="checkbox"]').prop('checked', false);
                  parent.parent().find('.clear-file-input').show();
              }
          })
          $('.clear-file-input').on('click', function(){
              var parent = $(this).hide().parent();
              parent.find('input').val("")
              parent.parent().find('input[type="file"]').val("")
              parent.parent().find('input[type="checkbox"]').prop('checked', true);
          })

            $('.file-path-wrapper .file-path').each(function(){
                if($(this).val() !== '') {
                    $(this).parent().find('.clear-file-input').show();
                }
            })
        });
  </script>
</body>
</html>
