{% extends '_base.html' %}
{% load static %}
{% load materializecss %}

{% block title %}Event{% endblock title %}
{% block content %}
<div class="row">
  <div class="col l8 s12 offset-l2">
    <h2>Event</h2>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.media }}
      {{ form.title|materializecss }}
      <div class="row">
        <div class="col s12 m6">
          {{ form.project|materializecss }}
        </div>
        <div class="col s12 m6">
          {{ form.type|materializecss }}
        </div>
      </div>
      {{ form.description|materializecss:'icon=text_fields' }}
      <div class="row">
        <div class="col s12 m6">
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">add_location</i>
              <input type="text" id="{{ form.location.name }}" placeholder="" class="autocomplete">
              <label for="autocomplete-input">{{ form.location.label }}</label>
            </div>
            <div class="col s12 add-location-row">
              <a class="waves-effect waves-light btn btn-small modal-trigger" href="#addLocation">Add location</a>
            </div>
          </div>
        </div>
        {{ form.location }}
        <div class="col s12 m6">
          {{ form.room|materializecss }}
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m6">
          <div id="{{ form.start_at.name }}">
            <div class="input-field col s12">
              <i class="material-icons prefix">schedule</i>
              <input type="text" id="id_{{ form.start_at.name }}" name="{{ form.start_at.name }}" {% if form.start_at.value %}value="{{ form.start_at.value|date:'Y-m-d H:i' }}"{% endif %} class=" validate">
              <label for="id_{{ form.start_at.name }}">{{ form.start_at.label }}</label>
            </div>
          </div>
        </div>
        <div class="input-field col s12 m6">
          <div id="{{ form.end_at.name }}">
            <div class="input-field col s12">
              <i class="material-icons prefix">schedule</i>
              <input type="text" id="id_{{ form.end_at.name }}" name="{{ form.end_at.name }}" {% if form.end_at.value %}value="{{ form.end_at.value|date:'Y-m-d H:i' }}"{% endif %} class=" validate">
              <label for="id_{{ form.end_at.name }}">{{ form.end_at.label }}</label>
            </div>
          </div>
        </div>
      </div>
      {{ form.timetable|materializecss }}
      <div class="row">
        <div class="col s12 m4">
          {{ form.fields|materializecss }}
        </div>
        <div class="col s12 m4">
          {{ form.audiences|materializecss }}
        </div>
        <div class="col s12 m4">
          {{ form.online|materializecss }}
          {{ form.tickets|materializecss }}
        </div>
      </div>
      <div class="row">
        <div class="col s12 m6">
          {{ form.ownership|materializecss }}
        </div>
        <div class="col s12 m6">
          {{ form.partners|materializecss }}
        </div>
      </div>
      <div class="row">
        <div class="col s12 m6">
          {{ form.fees|materializecss:'icon=money' }}
        </div>
        <div class="col s12 m6">
          {{ form.budget|materializecss }}
        </div>
      </div>
      <div class="row">
        <div class="col s12 m6">
          {{ form.particip_num_predict|materializecss }}
        </div>
        <div class="col s12 m6">
          {{ form.particip_num_actual|materializecss }}
        </div>
      </div>
      <div class="row">
        <div class="col s12 m6">
          {{ form.link|materializecss:'icon=link' }}
        </div>
        <div class="col s12 m6">
          {{ form.registr_link|materializecss }}
        </div>
      </div>
      {{ form.comment|materializecss }}
      <div class="row">
        <div class="col s12 m6">
          {{ form.status|materializecss:'icon=assignment' }}
        </div>
        <div class="col s12 m6">
          {{ form.contact_person|materializecss:'icon=face' }}
        </div>
      </div>
      <button class="btn waves-effect waves-light" type="submit">Save<i class="material-icons right">send</i></button>
    </form>
  </div>
</div>

<!-- Modal Structure -->
<div id="addLocation" class="modal">
    <div class="modal-content">
        <div id="resp">"Loading..."</div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect btn-flat">"Close"</a>
    </div>
</div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;language=en&amp;key=xxxxxxxx"></script>
<script type="text/javascript" src="{% static 'mapwidgets/js/jquery_class.js' %}"></script>
<script type="text/javascript" src="{% static 'mapwidgets/js/django_mw_base.js' %}"></script>
<script type="text/javascript" src="{% static 'mapwidgets/js/mw_google_point_field.js' %}"></script>

<script>
    jQuery(document).ready(function(){

        // Initialize materialize data picker
        var dummyTime = null;
        var currentDateElem = null;
        var dateObj = new Date();

        jQuery('#id_start_at,#id_end_at').datepicker({
            format: 'yyyy-mm-dd',
            onClose: function () {
                currentDateElem = this.el;
                if(currentDateElem.value !== '') {
                    $('body').append('<input type="hidden" id="dummyTime">')
                    dummyTime = $("#dummyTime");
                    dummyTime.timepicker({
                        twelveHour: false,
                        onCloseEnd: function () {
                            var time = dummyTime.val();
                            if (time === '') {
                                time = dateObj.getHours() + ':' + (dateObj.getMinutes() < 10 ? '0' + dateObj.getMinutes() : dateObj.getMinutes() );
                            }
                            currentDateElem.value = currentDateElem.value.replace(/\s\d{2}:\d{2}/, '') + ' ' + time;
                            currentDateElem = null;
                            dummyTime.remove()
                        }
                    });
                    dummyTime.trigger('click');
                }
            }
        });


        $('.modal').modal({
            onCloseEnd: function () {
                $('#resp').html('Loading...')
                loadLocation();
            }
        });

        var mapWidget;
        var location = $('#location');
        var locationSelect = $('#id_location');
        var updateLocations = function (){
            $.ajax(window.location.href, {
                dataType: 'html',
                success: function (resp){
                    locationSelect.replaceWith($(resp).find('#id_location'))
                    locationSelect = $('#id_location')
                    var option = $('#id_location option:last');
                    locationSelect.val(option.val())
                    initLocationSelect()
                    location.val(option.text())
                }
            })
        }
        var loadLocation = function (){
            $.ajax('/locations/new/', {
                dataType: 'html',
                success: function (resp){
                    $("#resp").html($(resp).find('#location_form'))
                }
            })
        }
        loadLocation();

        $(document).on('submit', '#locationForm', function(e){
            e.preventDefault();
            var locationForm = $('#locationForm');
            $.ajax({
                method: "POST",
                url: locationForm.attr('action'),
                data: locationForm.serialize(),
                success: function(resp, status, xhr) {
                    var hasError = $(resp).find('.help-block.orange-text').length
                    if (hasError) {
                        $("#resp").html($(resp).find('#location_form'))
                        mapWidget = new DjangoGooglePointFieldWidget(mapWidgetOptions);
                    } else {
                        updateLocations();
                        $('.modal').modal('close')
                    }
                }
            })
        })

        var initLocationSelect = function () {
            var selectData = {};
            //location.autocomplete('destroy');
            var options = $('#id_location option');
            options.each(function(){
                selectData[$(this).text()] = null;
            })
            location.autocomplete({
                data: selectData,
                onAutocomplete: function(val) {
                    options.each(function(){
                        if($(this).text() === val) {
                            locationSelect.val($(this).val())
                        }
                    })
                }
            });
        }

        var findOption = function (value) {
            var options = $('#id_location option')
            for(var i=0;i<options.length;i++) {
                if($(options[i]).val() === value) {
                    return $(options[i])
                }
            }
            return false;
        }

        initLocationSelect()
        if(locationSelect.val() !== '' && location.val() === '') {
            var option = findOption(locationSelect.val());
            if(option) {
                location.val(option.text())
            }
        }

    });
</script>
{% endblock content %}
