{% extends '_base.html' %}
{% load i18n %}
{% load materializecss %}
{% load django_tables2 %}

{% block title %}{% trans "Projects" %}{% endblock title %}

{% block content %}

{% if user.groups.all.0.name == 'Coordinator' %}
<div>
  <a href="{% url 'project_table' %}" class="waves-effect waves-light btn-small btn-mini">My projects</a>
  <a href="{% url 'organization_project_table' %}" class="waves-effect waves-light btn-small btn-mini">All</a>
</div>
{% endif %}

{% if filter %}
<div class="row">
  <div class="col s12 no-padding">
    <h1>{% trans "Projects" %}</h1>
    <form action="" method="get" class="form">
      {{ filter.form|materializecss }}
      <button class="table waves-effect waves-light btn-small grey-30" type="submit" name="button"><i class="material-icons left">search</i>Search</button>
    </form>
  </div>
</div>
{% endif %}

{% render_table table %}

<!-- Export Dropdown -->
<div class="row table-button">
  <a class='dropdown-trigger btn-small grey-30' href='#' data-target='data_export'><i class="material-icons left">arrow_drop_down</i>Export</a>
  <ul id='data_export' class='dropdown-content'>
  {% for format in view.export_formats %}
    <li><a href="{% export_url format %}">{{ format }}</a></li>
  {% endfor %}
  </ul>
</div>

{% endblock content %}
