{% extends '_base.html' %}
{% load i18n %}

{% block title %}{{ project.title }}{% endblock title %}

{% block content %}

<div id="detail-view" class="row">
  <div class="col s12 no-padding">
    <h1>{{ project.title }}
      {% if project.website %}
      <a href="{{ project.website }}" target="_blank"><i class="material-icons icon-blue small">call_made</i></a>
      {% endif %}
    </h1>

    <div class="row">

      <!-- Left block -->
      <div class="col-block col s12 m6">

        <div class="row display display-header">
          {% trans "activity" %}: <b>{{ project.activity }}</b>
        </div>
        <div class="row display no-bottom-border">
          {{ project.description }}
        </div>

      </div>

      <!-- Right block -->
      <div class="col-block col s12 m4">
          <div class="row display display-header">
            {{ project.website }}
          </div>

        {% if project.email %}
          <div class="row display">
            {{ project.email }}
          </div>
        {% endif %}

        {% if project.phone %}
          <div class="row display">
            {{ project.phone }}
          </div>
        {% endif %}

        {% if project.contact_person %}
          <div class="row display">
            {{ project.contact_person }}
          </div>
        {% endif %}

      </div>
    </div>
  </div>
</div>

<h2>{% trans "Events" %}</h2>
<table>
  <thead>
    <tr>
      <th>{% trans "Title" %}</th>
      <th>{% trans "Type" %}</th>
      <th>{% trans "Start" %}</th>
      <th>{% trans "End" %}</th>
      <th>{% trans "Status" %}</th>
    </tr>
  </thead>
	<tbody>
		{% for event in page_obj %}
		<tr>
			<td class="title">
				<b><a href="{% url 'event_detail' event.pk %}">{{ event.title }}</a></b>
			</td>
      <td>
				{{ event.type }}
			</td>
      <td>
        {{ event.start_at }}
      </td>
      <td>
        {{ event.end_at }}
      </td>
			<td class="status">
				{{ event.get_status_display }}
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% if is_paginated %}
  <div>
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}"><i class="material-icons">chevron_left</i></a></li>
      {% else %}
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
      {% endif %}
      {% for i in paginator.page_range %}
        {% if page_obj.number == i %}
          <li class="active"><a href="#!">{{ i }}</a></li>
        {% else %}
          <li class="waves-effect"><a href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
      {% endfor %}
      {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
      {% else %}
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
      {% endif %}
    </ul>
  </div>
{% endif %}

{% endblock content %}
